@import "tailwindcss";

:root {
  --background: #3A3456;
  --foreground: #171717;
}

html {
  overflow-x: hidden;
  background-color: var(--background);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.main-wrapper {
  padding: 2.5dvw 4.85dvw;
}

.rotateY-180 {
  transform: rotateY(180deg);
}